.topLeft{
    position: absolute;
    top: 25%;
    left: 20%;
  }
  .phrase {
    font-family: 'Zilla Slab Highlight', cursive;
    color: white;
  }
  .liv {
    font-size: 200px;
  }
  .outside {
    font-size: 90px;
  }
  .the {
    font-size: 45px;
  }
  .box {
    font-size: 85px;
  }
  .livDescription {
    text-align: center;
    padding: 5% 0;
    font-family: 'Rubik Mono One', sans-serif;
  }
